<form method="post" action="{{ path('lespages_delete', {'idlespages': lespage.idlespages}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette article ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lespage.idlespages) }}">
    <button class="btn">supprimer</button>
</form>
