<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/vendor/fontawesome-free/css/all.min.css"
              type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" type="text/css"
              rel="stylesheet">
        <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/vendor/magnific-popup/magnific-popup.css"
              rel="stylesheet" type="text/css">
        <link href="https://blackrockdigital.github.io/startbootstrap-freelancer/css/freelancer.min.css"
              rel="stylesheet"> {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://blackrockdigital.github.io/startbootstrap-freelancer/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-freelancer/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-freelancer/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-freelancer/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-freelancer/js/jqBootstrapValidation.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-freelancer/js/contact_me.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-freelancer/js/freelancer.min.js"></script>
{% endblock %}
</body>
</html>
